<div id="range-container">
    <input #min  [disabled]="type === 'fixed'" [(ngModel)]="minPrice" class="input-filed">
    <div id="range-box">
      <p id="range-line" class="range-line" (click)="setRangePointByClick($event?.pageX)">
        <span #leftBullet id="left-range-bullet" class="range-bullet" (mousedown)="mouseDownEvent($event)"></span>
        <span #rightBullet id="right-range-bullet" class="range-bullet" (mousedown)="mouseDownEvent($event)"></span>
      </p>
  </div>
  <input #max  [disabled]="type === 'fixed'" [(ngModel)]="maxPrice" class="input-filed">
</div>
