<div>{{min}}</div>
<div id="container-range">
  <div id="range">
    <div id="first-range-point">
    </div>
    <div id="last-range-point">
    </div>
    <!-- <div id="first-range-point"
      (mousedown)="mouseDownEvent(true, 'first-range-point')"
      (mouseup)="mouseUpEvent($event, 'first-range-point')">
    </div> -->
    <!-- <div id="last-range-point" [style.left]="lastRangeValue + '%'"
      (mousedown)="mouseDownEvent($event, 'last-range-point')"
      (mouseup)="mouseUpEvent($event, 'last-range-point')">
    </div> -->
  </div>
</div>
<div>{{max}}</div>
<p>{{filterValue | currency:'EUR'}}</p>

<p>{{clickRange$ |async}}</p>
<p>{{firstRangeValue}}</p>
