<ng-container *ngIf="!type">
  <p>{{min}}</p>
</ng-container>
<div id="container-range">
  <p id="range">
    <span id="first-range-point" class="first-range"></span>
    <!-- <span id="first-range-title" class="first-range range-point-title">{{firtsPointValue}}</span> -->
    <span id="last-range-point" class="last-range"></span>
    <!-- <span id="last-range-title" class="last-range range-point-title">{{lastPointValue}}</span> -->
  </p>
</div>
<ng-container *ngIf="!type">
  <p>{{max}}</p>
</ng-container>

<br>
<p>{{filterValue | currency:'EUR'}}</p>

<p>{{clickRange$ |async}}</p>
<br>
{{leftBulletPosition}}
<br>
{{rightBulletPosition}}

